<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Sede</label>
            <select class="form-control" [ngClass]="{'cargando': sedes==null}" (change)="populateCampos($event)">
              <option *ngFor="let registro of sedes" [value]="registro.$key">{{registro.Nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Campos</label>
            <select class="form-control" [ngClass]="{'cargando': sedes==null}" (change)="onchangeCampos($event)">
              <option *ngFor="let registro of campos" [value]="registro.$key">{{registro.Nombre}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <div *ngFor="let reg of marcadores; let i= index">
                <agm-marker [latitude]="reg.Latitud" [longitude]="reg.Longitud">
                    <agm-info-window>
                        <strong>{{reg.Titulo}}</strong>
                        <p>{{reg.Direccion}}</p>
                    </agm-info-window>
                </agm-marker>
            </div>
            <!-- <core-map-content (onMapLoad)='loadAPIWrapper($event)'>></core-map-content> -->
        </agm-map>
    </div>
</div>