<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Team</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']"  routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['jugadores']" routerLinkActive="active">Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['equipos']" routerLinkActive="active">Equipos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['camposviewmap']" routerLinkActive="active">Campos</a>
      </li>
      <li class="nav-item dropdown" *ngIf="_authService.adminAsync|async">
        <a class="nav-link dropdown-toggle" routerLinkActive="active" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['sedes']">Sedes</a>
          <a class="dropdown-item" [routerLink]="['grupos']">Grupos</a>
          <a class="dropdown-item" [routerLink]="['divisiones']">Divisiones</a>
          <a class="dropdown-item" [routerLink]="['torneos']">Torneos</a>
          <a class="dropdown-item" [routerLink]="['partidos']">Partidos</a>
          <a class="dropdown-item" [routerLink]="['campos']">Campos</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
      <button type="button" 
              class="btn btn-outline-primary btn-sm" 
              (click)="login()" *ngIf="!(isAuthAsync() | async)">Login</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="salir()" *ngIf="isAuthAsync() | async">Logout</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="Perfil()" *ngIf="isAuthAsync() | async">Perfil</button>
    </span>
  </div>
</nav>