<div [@fadeIn]>
  <div class="row">
    <div class="col-md-3">
      <h1>Partidos</h1>
    </div>
    <div class="col-md-9">
      <button type="button" class="btn btn-primary pull-right" (click)="mostrar(null)">
            Nuevo
          </button>
    </div>
  </div>

  <div class="input-group">
    <input class="form-control" type="text" placeholder="Buscar..." name="txtSearch" id="txtSearch" [(ngModel)]="textSearch"
    />
    <span class="input-group-btn">
          <button class="form-control" type="button" class="btn btn-default">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
  </div>
  <hr>
  <div *ngIf="!loading && registros.length===0" class="alert alert-info" role="alert">
    <strong>No hay</strong> registros que mostrar
  </div>

  <div *ngIf="loading" class="alert alert-warning" role="alert">
    <strong>Cargando...</strong> por favor espere
  </div>
  <div class="row" *ngIf="!loading && registros.length>0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Torneo</th>
          <th>EquipoLocal</th>
          <th>EquipoVisitante</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registros">

          <td>
            {{registro.Torneo.Nombre}}
          </td>
          <td>
            {{registro.EquipoLocal.Nombre}}
          </td>
          <td>
            {{registro.EquipoVisitante.Nombre}}
          </td>
          <td>
            {{registro.Fecha.formatted}}
          </td>
          <td>
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
              <button class="form-control" type="button" class="btn btn-default" (click)="mostrar(registro)">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                  </button>
              <button class="form-control" type="button" class="btn btn-default" (click)="eliminar(registro)">
                      <i class="fa fa-trash" aria-hidden="true" ></i> Eliminar
                    </button>
              <button class="form-control" type="button" class="btn btn-default" (click)="mostrarResultados(registro)">
                        <i class="fa fa-soccer-ball-o" aria-hidden="true" ></i> Resultado
                      </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row animated fadeIn fast" *ngIf="mostrarPanel">


    <form [formGroup]="forma" (ngSubmit)="guardar()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Torneo</label>
            <select formControlName="torneo" class="form-control" #t (change)="onTorneoChange(t.value)" [ngClass]="{'cargando': torneos==null}">
              <option *ngFor="let registro of torneos" [value]="registro.$key">{{registro.Nombre}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Equipo local</label>
            <select formControlName="equipoLocal" class="form-control" [ngClass]="{'cargando': equipos==null}">
                <option *ngFor="let registro of equipos" [ngValue]="registro.$key">{{registro.Nombre}}</option>
              </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Equipo visitante</label>
            <select formControlName="equipoVisitante" class="form-control" [ngClass]="{'cargando': equipos==null}">
                <option *ngFor="let registro of equipos" [ngValue]="registro.$key">{{registro.Nombre}}</option>
              </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Fecha</label>
            <my-date-picker name="fecha" [options]="myDatePickerOptions" formControlName="fecha"></my-date-picker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Hora</label>
            <select formControlName="horas" class="form-control" [ngClass]="{'cargando': torneos==null}">
                  <option *ngFor="let registro of horas" [ngValue]="registro">{{registro}}</option>
                </select>
            <select formControlName="minutos" class="form-control" [ngClass]="{'cargando': torneos==null}">
                  <option *ngFor="let registro of minutos" [ngValue]="registro">{{registro}}</option>
                </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Aplazado</label>
            <input type="checkbox" name="aplazado" formControlName="aplazado">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Terminado</label>
            <input type="checkbox" name="terminado" formControlName="terminado">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group pull-right" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary btn-block">
                      Guardar
                    </button>
            <button type="button" class="btn btn-primary" (click)="mostrarPanel=false">Cancelar</button>
          </div>

        </div>
      </div>

    </form>

  </div>
</div>