<div [@fadeIn]>
  <div class="col-md-12">
    <h4 class="card-title">{{userName}}</h4>
  </div>
  <div class="row">
    <div *ngFor="let equipo of equiposUsuario">
      <div class="col-md-2" (click)="onChangeEquipoActivo(equipo)">
          <div class="">
              
              <img [src]="equipo.Escudo" style="width:50px;height:50px"  class="puntero" [ngClass]="{'selectedImage' : equipo.Selected}"/>
            </div>
        
      </div>
    </div>
  </div>
  <br/>
  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="card-group">
          <div class="card">
            <!--<img class="card-img-top" style="width: 256px;height: 180px" [src]="userPhoto" [alt]="userName">-->
            <div class="card-block" style="padding:10px">

              <p class="card-text">Elige tu/s equipo/s escribiendo aquí el nombre y después introduce la contraseña de Elite Fútbol.</p>

              <div class="input-group">
                <input class="form-control" type="text" placeholder="Nombre del equipo" name="txtSearch" id="txtSearch" [(ngModel)]="textSearch"
                />
                <span class="input-group-btn">
                          <button class="form-control" type="button" class="btn btn-default">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="list-group" *ngIf="textSearch!=''">
          <div *ngFor="let equipo of equipos">
            <li class="list-group-item" *ngIf="equipo.Nombre.toLowerCase().indexOf(textSearch.toLowerCase())>=0" [value]="equipo.$key">

              <div class="col-md-12 alert" [class.alert-success]="equipo.Check" [class.alert-danger]="!equipo.Check">
                {{equipo.Nombre}}
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  <input class="form-control" [class.error]="equipo.Error!=''" type="password" [name]="equipo.$key" [id]="equipo.$key" [value]="equipo.Password"
                  />
                  <span class="input-group-btn">
                                <button class="form-control" type="button" (click)="Guardar(equipo.$key)" class="btn btn-default">
                                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                              </span>
                  <span class="input-group-btn">
                                <button class="form-control" type="button" [disabled]="!equipo.Check" (click)="Eliminar(equipo.$key)" class="btn btn-default">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                              </span>
                </div>

              </div>
            </li>
          </div>
        </ul>
      </div>

    </div>

    <div class="col-md-6" *ngIf="jugadores!=null && jugadores.length>0">
        <div class="col-md-6">
            <div class="row">
              <div class="card-group">
                <div class="card">
                  <div class="card-block" style="padding:10px">
      
                    <p class="card-text">Selecciona qué jugador eres para personalizar los datos para ti.</p>
      
                    <div class="input-group">
                      <input class="form-control" type="text" placeholder="Nombre del jugador" name="txtSearchJug" id="txtSearchJug" [(ngModel)]="textSearchJug"
                      />
                      <span class="input-group-btn">
                                <button class="form-control" type="button" class="btn btn-default">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                              </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <ul class="list-group" *ngIf="textSearchJug!=''">
                <div *ngFor="let jugador of jugadores">
                    <!-- <li class="list-group-item" [value]="jugador.$key">
                        {{jugador.$key}}
                      
        
                    </li> -->
                  <li class="list-group-item" *ngIf="jugador.Nombre.toLowerCase().indexOf(textSearchJug.toLowerCase())>=0" [value]="jugador.$key">
                      
                      <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="jugador" id="jugador.$key" 
                             (change)="checkJugador(jugador)" [checked]="this.usuario.Jugador!=null && this.usuario.Jugador==jugador.$key">
                            {{jugador.Nombre}}
                          </label>
                        </div>
      
                  </li>
                </div>
              </ul>
            </div>
      
          </div>
    </div>
  </div>
</div>