<h1>Jugadores</h1>
<hr>
<div *ngIf="!loading && jugadores.lenght===0" class="alert alert-info" role="alert">
  <strong>No hay</strong> registros que mostrar
</div>

<div *ngIf="loading" class="alert alert-warning" role="alert">
  <strong>Cargando...</strong> por favor espere
</div>
<div>
  <button *ngIf="this._authService.adminAsync|async" [routerLink]="['/editarJugador','nuevo']" type="button" class="btn btn-outline-primary pull-right">
        Nuevo
      </button>
  <div class="card-columns">

    <div class="card animated fadeIn fast  w-80" *ngFor="let jugador of jugadores">

      <img class="card-img-top img-fluid" style="height: 300px" [src]="jugador.Imagen" [alt]="jugador.Nombre">
      <div class="card-block">
        <h4 class="card-title">{{ jugador.Nombre }}
           <div *ngFor="let equipo of jugador.Equipos">
             
                  <img class="img-rounded" width="50" height="50" [src]="equipo.Escudo"/>
          </div> 
        </h4> <small class="text-muted">{{ jugador.Apodo }}</small>
        <p class="card-text"> {{ jugador.Caracteristicas }} </p>
        <button (click)="verJugador(jugador.$key)" type="button" class="btn btn-outline-primary">
        Ver más...
      </button>
        <button *ngIf="this._authService.adminAsync|async" (click)="editarJugador(jugador.$key)" type="button" class="btn btn-outline-primary">
        Editar
      </button>
        <button *ngIf="this._authService.adminAsync|async" (click)="eliminarJugador(jugador.$key)" type="button" class="btn btn-outline-primary">
        Eliminar
      </button>
      </div>
    </div>

  </div>
</div>