

<div class="row">
  <div class="col-md-6">
    <h1>Jugadores</h1>
  </div>
  <div class="col-md-6">
    <button *ngIf="this._authService.adminAsync|async" [routerLink]="['/editarJugador','nuevo']" type="button" class="btn btn-primary pull-right">
        Nuevo
      </button>
  </div>
</div>
<hr>
<div class="input-group">
  <input class="form-control" type="text" placeholder="Buscar..." name="txtSearch" id="txtSearch" [(ngModel)]="textSearch"
  />
  <span class="input-group-btn">
          <button class="form-control" type="button" class="btn btn-default">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
</div>
<hr>
<div *ngIf="!loading && jugadores.length===0" class="alert alert-info" role="alert">
  <strong>No hay</strong> registros que mostrar. Entra en tu perfil y asegurate de que perteneces a algún equipo.
</div>

<div *ngIf="loading" class="alert alert-warning" role="alert">
  <strong>Cargando...</strong> por favor espere
</div>
<div>

  <div class="card-columns">
    <div *ngFor="let jugador of jugadores">
      <div class="card animated fadeIn  w-80" [ngClass]="{'jugadorUsuario':jugador.$key==jugadorUsuario}"  style="padding:10px" *ngIf="jugador.Nombre.toLowerCase().indexOf((textSearch==null)?'':textSearch.toLowerCase())>=0">
        <img class="card-img-top img-fluid" style="height: 300px" [src]="jugador.Imagen" [alt]="jugador.Nombre">
        <div class="card-block">
          <h4 class="card-title">{{ jugador.Nombre }}
            
          </h4> <small class="text-muted">{{ jugador.Apodo }}</small>
          <p class="card-text"> {{ jugador.Caracteristicas }} </p>
          <button (click)="verJugador(jugador.$key)" type="button" class="btn btn-primary">
              Ver más...
            </button>
          <button *ngIf="(jugador.$key==jugadorUsuario) || (this._authService.adminAsync|async)" (click)="editarJugador(jugador.$key)" type="button" class="btn btn-primary">
              Editar
            </button>
          <button *ngIf="this._authService.adminAsync|async" (click)="eliminarJugador(jugador.$key)" type="button" class="btn btn-primary">
              Eliminar
            </button>
        </div>
      </div>
    </div>


  </div>
</div>